*{
	padding: 0px;
	margin: 0px;


}


#historia{
	text-align: center;
	margin-top:120px;

}

h1 ,h2{
	font-size: 48px;
	font-family: "Segoe UI" ;
	padding-bottom: 35px;

}
h4,h5{
	font-family: "Segoe UI";

}
#texto1{
	text-align: center;
	font-family: "Segoe UI";
	font-size: 15px;


}
#historia_pt2{
	
background-color:#F8F8FF;

}
.conteudo{
	float: left;
	width:503px;
	text-align: center;
	margin-top: 100px;

	




}
.cor_objeto{
	color: #A7FBD3;
	font-size: 3em;
	padding-bottom: 25px;

}
p{
	color: 	#A9A9A9;	
	font-family:  "Segoe UI"sans-serif;
	font-size: 15px;
}
#movimento_junior{
	margin-top: 450px;
   	height: 800px;
   	width: 1530px;
   	background:	#F1F3F3;
}


#foto_mej{
 	float:right;
 	margin-right:205px;
 	padding-top: 170px;


}
 #formatexto{
 	padding-top:170px;
 	float:left;
 	margin-left: 205px;
 	
  
 	
 }
 #formatexto a {
	text-decoration: none;
	font-size: 25px;
	color: #A7FBD3;
	background: #3E194D;
	margin-bottom: 70px;
	padding: 15px;
}
#formatexto a:hover{
	background: #9400D3;


}
#formatexto p {
	padding-bottom: 70px;


}
.tamanho_diamante{
	color: #A7FBD3;
	font-size: 0.75em;


}


#cabeçalho{
	margin-top: 150px;
	text-align: center;	

}
.feedback{
	margin-top: 60px;
	float: left;
	text-align: center;
	width: 503px;
	margin-bottom: 160px;

}
.feedback img {
	margin-top: 25px;
	width: 60px;
	height: 57px;
	padding-right: 15px;
		

}
.feedback table {
 margin-left: 150px;
 margin-right:100px;
 
}

#Contato{
	
	margin-top: 450px;
	background:#3E194D;
	
	width: 1550px;
	height: 900px;
}


#container1{
	float: left;
	margin-top: 130px;
	margin-left:215px;

}
#container1 h1{
	color: white;
	font-size: 72px;

}
#container2{
	float: right;
	margin-top: 140px;
	margin-right: 260px;
	width: 500px;
	height: 620px;
	background: white;
	text-align: center;
}
#container2 input {
	height: 25px;
	width: 390px;
	background:	#F2F2F2;
	margin-bottom: 35px;
	
}
#tam_texto{
	height: 200px;
	width: 390px;
	background:#F2F2F2;	
}
#text_cabeça{
	
	padding-right:250px;
	

}
#text_baixo{

	padding-right: 340px;

}
#text_baixo2{

	padding-right: 300px;

}
#botão{

	background: #3E194D;
}
#Enviar {
	text-align: center;
	margin-top: 25px;
	background: #3E194D;
	

}