*{
	padding: 0px;
	margin: 0px;


}


#historia{
	text-align: center;
	margin-top:120px;

}

h1{
	font-size: 48px;
	font-family: Montserrat ;
	padding-bottom: 35px;

}
h4{
	font-family: Montserrat;

}
#texto1{
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 15px;


}
#historia_pt2{
	
background-color:#F8F8FF;

}
.conteudo{
	float: left;
	width: 300px;
	text-align: center;
	margin-top: 150px;
	margin-left: 155px;


}
.cor_objeto{
	color: #A7FBD3;
	font-size: 3em;
	padding-bottom: 15px;
}
p{
	color: 	#A9A9A9;	
	font-family:  'Segoe UI'sans-serif;
	font-size: 15px;
}
#movimento_junior{
	margin-top: 450px;


}
#foto_mej{
	text-align: center;
	margin-left: 600px;

}